<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.sk.panda.gold">
    <!--允许网络权限-->
    <uses-permission android:name="android.permission.INTERNET" />
    <!--相机权限-->
    <uses-permission android:name="android.permission.CAMERA" />
    <!--查看当前网络状态-->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!--查看wifi状态-->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <!-- 这个权限用于获取wifi的获取权限，wifi信息会用来进行网络定位-->
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>
    <!--获取手机信息-->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <!--SD卡写入-->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!--读取sd卡-->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <!--读取系统日志-->
    <uses-permission android:name="android.permission.READ_LOGS"
        tools:ignore="ProtectedPermissions" />
    <!--GPS定位-->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <!--获得位置信息Wifi以及其他定位-->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.DOWNLOAD_WITHOUT_NOTIFICATION" />
    <!-- SD卡读取权限，用户写入离线定位数据-->
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"
        tools:ignore="ProtectedPermissions" />
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:name=".base.App">
        <activity
            android:name=".ui.welcome.WelcomeActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait">

        </activity>

        <activity android:name=".ui.guide.GuideActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait">

        </activity>
        <activity android:name=".ui.main.MainActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!--登录-->
        <activity android:name=".ui.login.LoginActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait">

        </activity>
        <activity android:name=".ui.login.lock.GestureActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait">

        </activity>
        <activity android:name=".ui.login.lock.GestureCreateActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait">

        </activity>
        <activity android:name=".ui.register.RegisterActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait">

        </activity>
        <activity android:name="com.sk.panda.gold.ui.my.password.ChangePasswordActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait">

        </activity>
        <activity android:name=".ui.my.phone.ChangePhoneActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait">

        </activity>
        <activity android:name=".ui.my.phone.enter.EnterNewPhoneActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait">

        </activity>
        <activity android:name=".ui.my.address.pickup.PickUpActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait">

        </activity>
        <activity android:name=".ui.my.address.edit.AddressEditActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait">

        </activity>
        <activity android:name=".ui.commodity.detail.CommodityDetailActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait">

        </activity>
        <activity android:name=".ui.commodity.choose.spec.ChooseSpecActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait">

        </activity>
        <activity android:name=".ui.cart.ShoppingCartActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait">

        </activity>
        <activity android:name=".ui.message.manager.MessageManagerActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait">

        </activity>
        <activity android:name=".ui.message.platform.PlatformMessageActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait">

        </activity>
        <activity android:name=".ui.success.SuccessPageActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait">

        </activity>
        <activity android:name=".ui.my.address.distribution.DistributionTypeActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait">

        </activity>
        <activity android:name=".ui.gold.GoldTrendActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait">

        </activity>
        <activity android:name=".ui.my.address.choose.ChooseAddressActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait">

        </activity>
        <activity android:name=".ui.commodity.type.CommodityTypeActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait">

        </activity>
        <activity android:name=".ui.order.OrderVerifyActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait">

        </activity>

        <!--百度地图SDK-->
        <service android:name="com.baidu.location.f" android:enabled="true" android:process=":remote"> </service>

        <meta-data
            android:name="com.baidu.lbsapi.API_KEY"
            android:value="DbhjWj0ik1OsG8th1B2UDnAjxhxqN3Gz" >
        </meta-data>
    </application>

</manifest>